
body {
  margin: auto;
  display: table;
  padding: 20px 10px;
  background-color: rgba(245, 245, 220, 0.67);
}

#b,#e,#w {
  cursor: pointer;
}
#b:hover, #e:hover, #w:hover {
  text-decoration: underline;
}

a:link {color:#429dd4; text-decoration:none;}
a:visited {color:#429dd4; text-decoration:none;}
a:hover {text-decoration:underline;}

pre {
  background-color: beige;
  padding: 40px;
  font: 11.0px 'vm-regular-italic';
  width: 335px;
  position: relative;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}


@font-face {
font-family: 'vm-regular-italic';
src: url('../font/vm-italic.otf');
font-weight: normal;
font-style: normal;
}
